.jumbotron {
  padding-top: 6rem;
  background-color: #faeefa;
}

#projects {
  background-color: #faeefa;
}

#contact {
  background-color: #ffffff;
}

.footer {
  background-color: #ec31e9;
}

section {
  padding-top: 6rem;
}

.img-gallery {
  width: 100%;
}

#gallery .row > * {
  padding: 0;
}
